#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.app{
  max-width: 1920px;
  margin: 0 auto;
  height: auto;
  padding: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}