
/* -------------------------------------------------------------------------------------- */
 /* .footer_container {
  background: #242424;
  color: #fff;
  padding: 100px 136px 82px 72px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 124px; 
} */

.footer_container {
  background: #242424;
  color: #fff;
  padding: 100px 136px 40px 72px;
  display: flex;
  flex-direction: column;   
}

.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 30%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h2 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 27px;
}

.foot_description {
  font-size: 14px;
  color: #FFFFFF;
  line-height: 160%;
  font-weight: 400;
}

.spectra{
  font-size: 12px;
  line-height: 20px;
  margin-top: 7px;
}
.foot_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 27px;
}

.foot_contact p {
  display: flex;
  gap: 20px;
  margin: 0;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 160%;
  font-weight: 400;
}

.foot_contact button {
  background: gray;
    /* border: 1px solid #555; */
    color: #fff;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.footer-buttons {
  margin-top: 18px;
  display: flex;
  gap: 12px;
}

.footer-buttons button {
 background: #686868;
    border: 1px solid #555;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    gap: 12px;
    font-size: 16px;
}

.footer-right {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-left: 124px;
}

/* .footer-col {
  min-width: 140px;
} */

.footer-col h3 {
      font-size: 14px;
    margin-bottom: 24px;
    color: #fff;
    font-weight: 700;
}

.companydiv ul {
  list-style: none;
  margin-top: 24px;
  padding: 0px 97px 0px 0px;
}

.companydiv li {
      font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    font-weight: 400;
}


.footer-column {
  flex: 1;
}

.footer-column h3 {
  font-size: 14px;
    margin-bottom: 24px;
    color: #fff;
    font-weight: 700;
}

.footer-content {
    display: flex;
    gap: 136px;
}

.footer-content p {
  font-size: 13px;
  color: #fff;
  margin-bottom: 0px;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-content li {
  font-size: 11px;
  color: #FFFFFF;
  line-height: 202.99999999999997%;
  font-weight: 600;
}

.footer-bottom {
  width: 100%;
  margin-top: 35px;
  padding-top: 14px;
  border-top: 1px solid #343434; }


 .footer-bottom {
  width: 100%;
  margin-top: 40px;
  padding-top: 14px;
  border-top: 1px solid #343434;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  color: #888;
}

.footer-bottom div {
  display: flex;
  align-items: center;
  gap: 10px;
}

 
.footer-bottom {
  width: 100%;
  margin-top: 60px;
  padding-top: 20px;
  border-top: 1px solid #343434;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;   
  font-size: 12px;
  color: #9a9a9a;
}

.footer_lang,
.footer_prvacy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-bottom p {
  margin: 0;
}

.foot_language {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #444;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.footer_prvacy div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foot_mobile{
 display: none;
}

.foot_2025{
    display: none;
}


@media (max-width: 768px) {

  .footer_container {
    padding: 40px 20px;
  }

  .footer_top {
    flex-direction: column;
  }

  .logo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

   .footer-left {
    width: 100%;
  } 

  .logo h2 {
    font-size: 15px;
    margin-bottom: 11px;
  }

  .foot_description {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .foot_contact p {
    font-size: 14px;
    margin-top: 15px;
  }

  .footer-buttons {
    flex-direction: column;
    gap: 12px;
  }

  .footer-buttons button {
    width: 100%;
    justify-content: center;
  }

  .footer-right {
   display: none;
  }

  .footer-bottom{
     display: none;
  }

  .foot_mobile {
    display: block;
    width: 100%;
    margin-top: 25px;
  }

  .foot_mobile > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #3a3a3a;
  }

  .foot_mobile > div:first-child {
    border-top: 1px solid #3a3a3a;
  }

  .foot_mobile h5 {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #dcdcdc;
  }

  .foot_mobile span {
    font-size: 16px;
    font-weight: 500;
    color: #dcdcdc;
  }

  .foot_2025 {
  text-align: center;
  display: block !important;
  margin-top: 25px;
  padding-top: 20px;
  border-top: 1px solid #3a3a3a;
}

.foot_2025 p {
  margin: 4px 0;
  font-size: 14px;
  color: #FFFFFFB2;
  line-height: 20px;
}

.foot_2025 span {
  color: #FFFFFFB2;
}
}
  
@media (max-width: 1440px) {

  .footer_container {
    padding: 90px 100px 40px 60px;
  }

  .footer-right {
    margin-left: 80px;
    gap: 60px;
  }

  .footer-content {
    gap: 100px;
  }

  .footer-buttons {
    flex-wrap: nowrap;     
  }

  .footer-buttons button {
    flex: 1;               
    padding: 14px 18px;     
    font-size: 14px;       
    white-space: nowrap;  
  }

}

@media (max-width: 1220px) {

  .footer_container {
    padding: 70px 60px 40px 40px;
  }

  .footer-right {
    margin-left: 40px;
    gap: 40px;
  }

  .footer-content {
    gap: 60px;
  }

  .companydiv ul {
    padding-right: 40px;
  }

  .footer-buttons {
    flex-wrap: nowrap;    
  }

  .footer-buttons button {
    flex: 1;               
    padding: 14px 18px;     
    font-size: 14px;       
    white-space: nowrap;  
  }
}

@media (max-width: 998px) {

  .footer_container {
    padding: 60px 40px 40px 40px;
  }

  .footer_top {
    flex-direction: column;
    gap: 50px;
  }

  .footer-left {
    width: 100%;
  }

  .footer-right {
    width: 100%;
    margin-left: 0;
    gap: 50px;
  }

  .footer-content {
    gap: 60px;
  }

}