.requestQuote_container {
  background: linear-gradient(90deg, #000000 0%, #575757 100%);
  color: #fff;
  padding: 85px 141px 75px 97px;
}

.request-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.request-container h3 {
  margin-bottom: 6px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

.request-container p{
font-size: 14.75px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFFCC;
}

.quoteButton {
  background: white;
  color: black;
  border: none;
  padding: 13px 41px 13px 32px;
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .requestQuote_container {
    padding: 75px 100px;
  }

  .request-container h3 {
    font-size: 30px;
  }
}


/* ================= 1220px ================= */

@media (max-width: 1220px) {
  .requestQuote_container {
    padding: 65px 70px;
  }

  .request-container h3 {
    font-size: 26px;
    line-height: 34px;
  }

  .request-container p {
    font-size: 14px;
  }

  .quoteButton {
    padding: 12px 30px;
  }
}


/* ================= 995px ================= */

@media (max-width: 995px) {
  .requestQuote_container {
    padding: 55px 40px;
  }

  .request-container {
    gap: 24px;
  }

  .request-container h3 {
    font-size: 22px;
    line-height: 30px;
  }

  .quoteButton {
    padding: 11px 24px;
  }
}

@media (max-width: 768px) {
  .requestQuote_container {
    display: none;
  }

}